
+font(Montserrat-Bold, Montserrat-Bold)
=fb
  font-family: 'Montserrat-Bold', serif

+font(Montserrat-ExtraBold, Montserrat-ExtraBold)
=feb
  font-family: 'Montserrat-ExtraBold', serif

+font(Montserrat-Medium, Montserrat-Medium)
=fm
  font-family: 'Montserrat-Medium', serif

+font(Montserrat-Regular, Montserrat-Regular)
=fr
  font-family: 'Montserrat-Regular', serif

+font(Montserrat-SemiBold, Montserrat-SemiBold)
=fsb
  font-family: 'Montserrat-SemiBold', serif

+font(Montserrat-Black, Montserrat-Black)
=fblack
  font-family: 'Montserrat-Black', serif


$accent: #2F41FF

body
	background: #fff
	+fr
	transition: opacity ease-in-out .4s
	background-color: #0E1114
	overflow-x: hidden
	&.loaded
		opacity: 1!important
h1,h2,h3,h4,p
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
a, a:visited, a:hover, a:focus
	color: inherit
	text-decoration: none
*
	max-height: 100000000px
	box-sizing: border-box

h1,h2,h3,h4
	+feb
h2
	font-size: 40px
	text-transform: uppercase
	letter-spacing: 1px
	color: #fff
	/* adaptive */
	+below(720px)
		font-size: 28px
	+below(480px)
		font-size: 24px
	+below(340px)
		font-size: 20px
	/* adaptive */
.button
	span
		+fsb
		font-size: 12px
		color: #fff
	padding-top: 15px
	padding-bottom: 15px
	padding-left: 50px
	padding-right: 50px
	border-radius: 27px
	overflow: hidden
	border: solid 1px #4958FF
	cursor: pointer
	background-color: $accent
	box-shadow: 0px 16px 19px rgba(35, 41, 85, 0.256283)
	+pseudo
	&:after
		width: 100%
		height: 100%
		z-index: 0
		background-color: #4958FF
		opacity: 0
		transition: opacity ease-in-out .2s
		border-radius: 27px

	span
		position: relative
		z-index: 1
	&:hover
		&:after
			opacity: 1
.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	+flexbox(flex-start, space-between)
	padding-right: 82px
	padding-left: 64px
	padding-top: 41px
	z-index: 10
	color: #fff
	/* animation */
	transform: translateY(-100%)
	transition: transform ease-in-out 1s 2.5s, padding-top ease-in-out .2s, padding-bottom ease-in-out .2s
	&.loaded
		transform: translateY(0)
	/* animation */
	/* adaptive */
	+below(1100px)
		padding-right: 47px
	+below(480px)
		padding-right: 25px
		padding-left: 25px
	/* adaptive */
	&__left
		+flexbox(center, space-between)
		/* adaptive */
		+below(720px)
			height: 54px
		/* adaptive */
	&__logo svg
		width: 117px
		/* adaptive */
		+below(480px)
			width: 80px
		/* adaptive */
	&__phone
		+fm
		font-size: 22px
		/* adaptive */
		+below(480px)
			font-size: 18px
		/* adaptive */

	&__lead
		margin-left: 60px
		/* adaptive */
		+below(720px)
			display: none
		/* adaptive */
	+pseudo
	&:after
		width: 100%
		height: 100%
		background-color: #fff
		z-index: -1
		opacity: 0
		transition: opacity ease-in-out .2s
	&.scrolled
		&
			color: #000
			padding-bottom: 10px
			padding-top: 10px

		&:after
			opacity: 1

.main
	+flexbox(center, flex-start, column)
	&__container
		+flexbox(flex-start, flex-start, column)
		align-self: flex-start
		padding-top: 281px
		padding-left: 375px
		/* animation */
		>*
			opacity: 0
			transition: opacity ease-in-out 1s
			+durationi(500ms, 2, 2600ms)
		&.loaded
			>*
				opacity: 1
		/* animation */

		/* adaptive */
		+below(1910px)
			padding-left: 300px
		+below(1450px)
			padding-top: 190px
		+below(1100px)
			padding-left: 55px
		+below(720px)
			padding-top: 200px
		+below(480px)
			padding-left: 20px
			padding-right: 20px
			padding-top: 150px
		/* adaptive */
	&__header
		font-size: 50px
		letter-spacing: -.8px
		/* adaptive */
		+below(1500px)
			font-size: 45px
		+below(1400px)
			font-size: 40px
		+below(1240px)
			font-size: 30px
		+below(1100px)
			font-size: 35px
		+below(720px)
			font-size: 30px
			padding-right: 20px
		+below(480px)
			font-size: 25px
		/* adaptive */
		line-height: 1.26
		color: #fff
		text-transform: uppercase
		&_accent
			color: $accent
	&__button
		margin-top: 54px
		padding-left: 70px
		padding-right: 65px
		/* adaptive */
		+below(720px)
			margin-top: 30px
		/* adaptive */
	position: relative
	&__background
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		z-index: -1
		transform: translateY(-400px)
		background-image: url("../img/hero-bg.jpg")
		background-size: cover
		/* animation */
		opacity: 0
		transition: opacity ease-in-out 1s 1.5s
		&.loaded
			opacity: 1
		/* animation */
		/* adaptive */
		+below(720px)
			transform: translateY(0px)
		/* adaptive */
.navigation
	color: #fff
	position: fixed
	top: 292px
	left: 54px
	
	/* adaptive */
	+below(1450px)
		top: 200px
	+below(1100px)
		left: auto
		right: 54px
	+below(960px)
		display: none
	/* adaptive */
	&__elem
		display: block
		margin-bottom: 34px
		font-size: 12px
		/* adaptive */
		+below(1100px)
			display: flex
			justify-content: flex-end
		/* adaptive */
		&.active
			color: #82B1E2
	&__name
		margin-left: 6px
	&__num
		/* adaptive */
		+below(1100px)
			order: 1
			margin-left: 6px
		/* adaptive */

.projects
	padding-left: 215px
	padding-right: 215px
	position: relative
	margin-bottom: -120px
	margin-top: 245px
	width: 100%
	/* adaptive */
	+below(1100px)
		margin-top: 180px
		padding-left: 50px
		padding-right: 50px
	+below(720px)
		margin-top: 130px
		padding-top: 50px
		padding-left: 20px
		padding-right: 20px
	/* adaptive */
	&__header
		margin-top: 100px
		margin-bottom: 90px
		opacity: 0
		transform: translateY(100px)
		/* adaptive */
		+below(1500px)
			margin-top: 60px
			margin-bottom: 50px
		+below(720px)
			margin-top: 40px
			margin-bottom: 30px
			transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out
			&.vi
				opacity: 1
				transform: translateY(0px)
		/* adaptive */
	&__wrapper
		padding-left: 148px
		padding-right: 148px
		padding-bottom: 128px
		z-index: 2
		+flexbox(center, center)
		flex-wrap: wrap
		opacity: 0
		transform: translateY(100px)
		/* adaptive */
		+below(1650px)
			padding-left: 110px
			padding-right: 110px
		+below(720px)
			padding-left: 50px
			padding-right: 50px
			transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out
			&.vi
				opacity: 1
				transform: translateY(0px)
		+below(480px)
			padding-left: 20px
			padding-right: 20px
		/* adaptive */

	&__background
		backdrop-filter: blur(50px)
		+flexbox(center, center, column)
		position: relative
		+below(480px)
			border-radius: 30px
	&__item
		width: calc(100%/3 - 12px)
		height: 380px
		margin-bottom: 10px
		margin-right: 12px
		/* adaptive */
		+below(1650px)
			height: 300px
		+below(1500px)
			height: 260px
		+below(960px)
			width: calc(50% - 5px)
			margin-right: 0
			&:nth-child(2n)
				margin-left: 10px

		+below(720px)
			height: 200px
		/* adaptive */

		img
			width: 100%
			height: 100%
			object-fit: cover
		&.no_margin
			margin-right: 0
	&__cifre
		position: absolute
		+fblack
		font-size: 490px
		color: #26282D
		opacity: 0.81
		text-shadow: 0px 37px 65px rgba(0, 0, 0, 0.0599323)
		right: 0%
		top: 50%
		transform: translate(85px, calc(-50% + 50px))
.lines
	z-index: -1
	&__wrapper
		+flexbox(flex-start, space-between)
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		padding-left: 230px
		padding-right: 230px
		/* animation */
		>*
			transform: scaleY(0)
			transform-origin: top left
			transition: transform ease-in-out 1s
			+durationi(300ms, 6, 300ms)
		&.loaded
			>*
				transform: scaleY(1)
		/* animation */
		/* adaptive */
		+below(1100px)
			padding-left: 50px
			padding-right: 50px
		/* adaptive */
	&__line
		top: 0
		height: 940px
		width: 1px
		background-color: #AEAEAE
		opacity: .15
		position: relative
		&_l2, &_l5
			+below(720px)
				display: none
		&_l2
			left: -10%
		&_l3
			left: -5.7%
		&_l4
			left: 11%
		&_l5
			left: 6%
