
+font(Montserrat-Bold, Montserrat-Bold)
=fb
  font-family: 'Montserrat-Bold', serif
  font-weight: 100

+font(Montserrat-ExtraBold, Montserrat-ExtraBold)
=feb
  font-family: 'Montserrat-ExtraBold', serif
  font-weight: 100

+font(Montserrat-Medium, Montserrat-Medium)
=fm
  font-family: 'Montserrat-Medium', serif
  font-weight: 100

+font(Montserrat-Regular, Montserrat-Regular)
=fr
  font-family: 'Montserrat-Regular', serif
  font-weight: 100

+font(Montserrat-SemiBold, Montserrat-SemiBold)
=fsb
  font-family: 'Montserrat-SemiBold', serif
  font-weight: 100

+font(Montserrat-Black, Montserrat-Black)
=fblack
  font-family: 'Montserrat-Black', serif
  font-weight: 100


$accent: #2F41FF
$black: #323941
body
	+fr
	transition: opacity ease-in-out .4s
	background-color: #1C232E
	width: 100%
	&.loaded
		opacity: 1!important
.out
	width: 100%
	overflow-x: hidden
h1,h2,h3,h4,p
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
a, a:visited, a:hover, a:focus
	color: inherit
	text-decoration: none
*
	max-height: 100000000px
	box-sizing: border-box

h1,h2,h3,h4
	+feb
h2
	font-size: 40px
	color: $black
	text-transform: uppercase
	letter-spacing: 1px
	/* adaptive */
	+below(720px)
		font-size: 28px
	+below(480px)
		font-size: 24px
	+below(340px)
		font-size: 20px
	/* adaptive */

.container
	padding-left: 215px
	padding-right: 215px
	position: relative
	width: 100%
	max-width: 1903px
	+flexbox()
	flex-direction: column
	/* adaptive */
	+below(1100px)
		padding-left: 50px
		padding-right: 50px
	+below(720px)
		padding-top: 50px
		padding-left: 20px
		padding-right: 20px
	/* adaptive */
.button
	span
		+fsb
		font-size: 12px
		color: #fff
	padding-top: 15px
	padding-bottom: 15px
	padding-left: 50px
	padding-right: 50px
	border-radius: 27px
	overflow: hidden
	border: solid 1px #4958FF
	cursor: pointer
	background-color: $accent
	box-shadow: 0px 16px 19px rgba(35, 41, 85, 0.256283)
	+pseudo
	&:after
		width: 100%
		height: 100%
		z-index: 0
		background-color: #4958FF
		opacity: 0
		transition: opacity ease-in-out .2s
		border-radius: 27px

	span
		position: relative
		z-index: 1
	&:hover
		&:after
			opacity: 1
.header
	position: fixed
	top: 0
	left: 0
	width: 100%
	+flexbox(flex-start, space-between)
	padding-right: 82px
	padding-left: 64px
	padding-top: 41px
	z-index: 10
	color: #fff
	/* animation */
	transform: translateY(-100%)
	transition: transform ease-in-out 1s 2.5s, padding-top ease-in-out .2s, padding-bottom ease-in-out .2s
	&.loaded
		transform: translateY(0)
	/* animation */
	/* adaptive */
	+below(1100px)
		padding-right: 47px
	+below(480px)
		padding-right: 25px
		padding-left: 25px
	/* adaptive */
	&__left
		+flexbox(center, space-between)
		/* adaptive */
		+below(720px)
			height: 54px
		/* adaptive */
	&__logo svg
		width: 117px
		/* adaptive */
		+below(480px)
			width: 80px
		/* adaptive */
	&__phone
		+fm
		font-size: 22px
		/* adaptive */
		+below(480px)
			font-size: 18px
		/* adaptive */

	&__lead
		margin-left: 60px
		/* adaptive */
		+below(720px)
			display: none
		/* adaptive */
	+pseudo
	&:after
		width: 100%
		height: 100%
		background-color: #fff
		z-index: -1
		opacity: 0
		transition: opacity ease-in-out .2s
	&.scrolled
		&
			color: #000
			padding-bottom: 10px
			padding-top: 10px

		&:after
			opacity: 1
section
	+flexbox(center, flex-start, column)
.main
	z-index: 6
	&__container
		+flexbox(flex-start, flex-start, column)
		align-self: flex-start
		padding-top: 281px
		padding-left: 375px
		/* animation */
		>*
			opacity: 0
			transition: opacity ease-in-out 1s
			+durationi(500ms, 2, 2600ms)
		&.loaded
			>*
				opacity: 1
		/* animation */

		/* adaptive */
		+below(1910px)
			padding-left: 300px
		+below(1450px)
			padding-top: 190px
		+below(1100px)
			padding-left: 55px
			margin-top: 0
		+below(720px)
			padding-top: 200px
		+below(480px)
			padding-left: 20px
			padding-right: 20px
			padding-top: 150px
		/* adaptive */
	&__header
		font-size: 50px
		letter-spacing: -.8px
		/* adaptive */
		+below(1500px)
			font-size: 45px
		+below(1400px)
			font-size: 40px
		+below(1240px)
			font-size: 30px
		+below(1100px)
			font-size: 35px
		+below(720px)
			font-size: 30px
			padding-right: 20px
		+below(480px)
			font-size: 25px
		/* adaptive */
		line-height: 1.26
		color: #fff
		text-transform: uppercase
		&_accent
			color: $accent
	&__button
		margin-top: 54px
		padding-left: 70px
		padding-right: 65px
		/* adaptive */
		+below(720px)
			margin-top: 30px
		/* adaptive */
	position: relative
	&__background
		position: absolute
		width: 100%
		height: 100%
		left: 0
		top: 0
		z-index: -1
		transform: translateY(-400px)
		background-image: url("../img/hero-bg.jpg")
		background-size: cover
		/* animation */
		opacity: 0
		transition: opacity ease-in-out 1s 1.5s
		&.loaded
			opacity: 1
		/* animation */
		/* adaptive */
		+below(720px)
			transform: translateY(0px)
		/* adaptive */
.navigation
	color: #fff
	position: fixed
	top: 292px
	left: 54px
	
	/* adaptive */
	+below(1450px)
		top: 200px
	+below(1100px)
		left: auto
		right: 54px
	+below(960px)
		display: none
	/* adaptive */
	&__elem
		display: block
		margin-bottom: 34px
		font-size: 12px
		/* adaptive */
		+below(1100px)
			display: flex
			justify-content: flex-end
		/* adaptive */
		&.active
			color: #82B1E2
	&__name
		margin-left: 6px
	&__num
		/* adaptive */
		+below(1100px)
			order: 1
			margin-left: 6px
		/* adaptive */
.projects
	margin-bottom: -120px
	margin-top: 245px
	z-index: 2
	/* adaptive */
	+below(480px)
		margin-top: 0px
		margin-bottom: 30px
		.container
			margin-top: 0
	/* adaptive */
	&__header
		margin-top: 100px
		margin-bottom: 90px
		opacity: 0
		transform: translateY(100px)
		color: #fff
		/* adaptive */
		+below(1500px)
			margin-top: 60px
			margin-bottom: 50px
		+below(720px)
			margin-top: 40px
			margin-bottom: 30px
			transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out
			transform: translateY(0px)
			&.vi
				opacity: 1
				transform: translateY(0px)
		/* adaptive */
	&__wrapper
		padding-left: 148px
		padding-right: 148px
		padding-bottom: 128px
		z-index: 2
		+flexbox(center, center)
		flex-wrap: wrap
		opacity: 0
		transform: translateY(100px)
		/* adaptive */
		+below(1650px)
			padding-left: 110px
			padding-right: 110px
		+below(720px)
			padding-left: 50px
			padding-right: 50px
			transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out
			transform: translateY(0px)
			&.vi
				opacity: 1
				transform: translateY(0px)
		+below(480px)
			padding-left: 20px
			padding-right: 20px
			padding-bottom: 20px
		/* adaptive */

	&__background
		backdrop-filter: blur(50px)
		+flexbox(center, center, column)
		position: relative
		+below(480px)
			border-radius: 30px
	&__item
		width: calc(100%/3 - 12px)
		height: 380px
		margin-bottom: 10px
		margin-right: 12px
		/* adaptive */
		+below(1650px)
			height: 300px
		+below(1500px)
			height: 260px
		+below(960px)
			width: calc(50% - 5px)
			margin-right: 0
			&:nth-child(2n)
				margin-left: 10px
		+below(720px)
			height: 200px
		+below(480px)
			height: 150px
		/* adaptive */

		img
			width: 100%
			height: 100%
			object-fit: cover
		&.no_margin
			margin-right: 0
	&__cifre
		position: absolute
		+fblack
		font-size: 490px
		color: #26282D
		opacity: 0.81
		text-shadow: 0px 37px 65px rgba(0, 0, 0, 0.0599323)
		right: 0%
		top: 50%
		transform: translate(200px, calc(-50% + 50px))
		opacity: 0
		// adaptive
		+below(480px)
			font-size: 300px
		// adaptive
.lines
	z-index: 0
	&__wrapper
		+flexbox(flex-start, space-between)
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		padding-left: 215px
		padding-right: 215px
		/* animation */
		>*
			transform: scaleY(0.00001)
			transform-origin: top left
			transition: transform ease-in-out 1s
			+durationi(300ms, 6, 300ms)
		&.loaded, &.vi
			>*
				transform: scaleY(1)
		/* animation */
		/* adaptive */
		+below(1100px)
			padding-left: 50px
			padding-right: 50px
		/* adaptive */
	&__line
		top: 0
		height: 940px
		width: 1px
		background-color: #AEAEAE
		opacity: .15
		position: relative
		&_l2, &_l5
			+below(720px)
				display: none
		&_l2
			left: -9%
		&_l3
			left: -5.7%
		&_l4
			left: 11%
		&_l5
			left: 6%
		&_whites
			background-color: #D8D8D8
			opacity: 0.59
		&_gray
			background-color: #F3F3F3
			opacity: 1

.backword
	position: absolute
	+fblack
	font-size: 300px
	color: #fff
	opacity: 0
	z-index: 1
	// animation
	+below(720px)
		transition: transform 4s ease-in-out, opacity 4s ease-in-out
		&.vi
			transform: translateX(0px)
			opacity: 0.4
	// animation
	/* adaptive */
	+below(1460px)
		font-size: 250px
	+below(960px)
		font-size: 200px
	+below(720px)
		font-size: 100px
	/* adaptive */
.clients
	width: 100%
	background: #E1E7EC
	position: relative
	z-index: 5
	padding-top: 275px
	padding-bottom: 220px
	overflow: hidden
	/* adaptive */
	+below(1460px)
		padding-top: 230px
	+below(960px)
		padding-top: 30px
	+below(720px)
		padding-bottom: 150px
	/* adaptive */
	.container
		flex-direction: column
		z-index: 2
	&__header
		text-align: center
		opacity: 0
		transition: opacity ease-in-out 1s 0s
		position: relative
		z-index: 5
		&.vi
			opacity: 1
	&__backword
		top: 35px
		right: 100px
		transform: translateX(230px)
	&__slider
		z-index: 1
		height: 610px
		margin-left: 162px
		margin-right: 0
		margin-top: 75px
		position: relative
		// animation
		opacity: 0
		transition: opacity ease-in-out 1s 0s
		&.vi
			opacity: 1
		// animation
		/* adaptive */
		+below(1460px)
			height: auto
		+below(1230px)
			margin-left: auto
		+below(960px)
			width: 100%
		+below(480px)
			margin-top: 0px
		/* adaptive */
		>.swiper-container
			width: 873px
			margin-left: 0
			/* adaptive */
			+below(1460px)
				width: 100%
			+below(1230px)
				width: 70%
				margin-left: 15% 
			+below(720px)
				width: 100%
				margin-left: 0
				overflow: hidden
			/* adaptive */
	&__slide
		position: relative
		transform: scale(0.9)
		transition: transform ease-in-out 1s
		&.swiper-slide-active
			transform: scale(1)
	&__wrapper 
		height: 607px
		+below(720px)
			height: 400px
		+below(480px)
			height: 200px
		img
			width: 100%
			height: 100%
			object-fit: cover
	&__image, &__wrapper
		height: 100%
		position: relative
	&__prx
		height: 100%
		position: absolute
		top: 0%

		// adaptive
		+below(1230px)
			position: static
		// adaptive
	&__description
		position: absolute
		left: 0
		top: 50%
		transform: translate(-160px, -50%)
		width: 370px
		height: 370px
		background: #fff
		padding-left: 79px
		padding-top: 102px
		padding-right: 70px
		// adaptive
		+below(1230px)
			position: static
			transform: translate(0, 0)
			width: 100%
			padding-top: 40px
			padding-bottom: 40px
			height: auto
		+below(960px)
			padding-left: 40px
			padding-right: 40px
		// adaptive
		h3
			+fb
			text-transform: uppercase
			font-weight: 300
			font-size: 20px
			margin-bottom: 27px
			color: $accent
		p
			width: 100%
			font-size: 14px
			line-height: 164%
	&__arrow
		width: 93px
		height: 93px
		background-color: $accent
		+flexbox(center, center)
		border-radius: 100%
		cursor: pointer
		position: absolute
		top: 50%
		z-index: 6
		// adaptive
		+below(720px)
			top: 100%
			width: 70px
			height: 70px
		// adaptive
		&_left
			left: 0
			transform: translate(-300px, -50%)
			// adaptive
			+below(1230px)
				transform: translate(0, -50%)
			+below(720px)
				transform: translate(0, 50%)
			// adaptive

		&_right
			right: 0
			transform: translate(160px, -50%) rotate(180deg)
			// adaptive
			+below(1230px)
				transform: translate(0, -50%) rotate(180deg)
			+below(720px)
				transform: translate(0, 50%) rotate(180deg)
			// adaptive

		svg 
			font-size: 20px
.swiper-wrapper
	align-items: center
	// adaptive 
	+below(720px)
		align-items: flex-start
	// adaptive
.time-manager
	+flexbox(flex-start, flex-start)
	padding-left: 162px
	margin-top: 112px
	z-index: 2
	// animation
	opacity: 0
	transition: opacity ease-in-out 1s 0s
	&.vi
		opacity: 1
	// animation
	// adaptive
	+below(1230px)
		padding-left: 0
	+below(720px)
		width: 100%
		overflow-x: scroll
		padding-bottom: 30px
	+below(480px)
		margin-top: 30px
	// adaptive
	&__item
		font-size: 14px
		letter-spacing: 0.56px
		+fsb
		color: $black
		margin-right: 10px
		transition: color ease-in-out .4s
		cursor: pointer
		+flexbox(center, center)
		&.active
			color: $accent
			.time-manager__line
				transform: scaleX(1)
				max-width: 185px
				// adaptive
				+below(720px)
					max-width: 40px
				// adaptive
	&__line
		width: 185px
		height: 1px
		background-color: #979797
		margin-left: 10px
		transform: scaleX(0)
		transform-origin: left center
		transition: transform ease-in-out .4s, max-width ease-in-out .4s
		max-width: 0
		// adaptive
		+below(720px)
			width: 40px
		// adaptive

.partners
	position: relative
	margin-bottom: 3px
	padding-top: 103px
	padding-bottom: 140px
	/* adaptive */
	+below(960px)
		padding-top: 0
	+below(720px)
		padding-bottom: 40px
	/* adaptive */
	.container
		flex-direction: column
		/* adaptive */
		+below(960px)
			margin-top: 100px
		+below(720px)
			margin-top: 0
		/* adaptive */

	&__header
		color: #fff
		text-align: center
		margin-bottom: 78px
		opacity: 0
		transition: opacity ease-in-out 1s
		/* adaptive */
		+below(720px)
			margin-bottom: 40px
		/* adaptive */
		&.vi
			opacity: 1
	&__background
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		overflow: hidden
		img
			width: 100%
			height: 100%
			object-fit: cover
			opacity: 0
			/* adaptive */
			+below(720px)
				transition: opacity ease-in-out 1s
				&.vi
					opacity: 1
			/* adaptive */
	&__wrapper
		+flexbox(center, center)
		/* animation */
		>*
			opacity: 0
			transition: opacity ease-in-out 1s
			+durationi(500ms, 3, 0ms)
		&.vi
			>*
				opacity: 1
		/* animation */
		/* adaptive */
		+below(720px)
			flex-wrap: wrap
		/* adaptive */

	&__item
		width: 380px
		height: 267px
		backdrop-filter: blur(50px)
		+flexbox(center, center)
		margin-right: 10px
		/* adaptive */
		+below(960px)
			padding-left: 30px
			padding-right: 30px
			&:nth-child(2) img
				max-width: 125px
		+below(720px)
			height: auto
			padding-top: 50px
			padding-bottom: 50px
			margin-bottom: 10px
			margin-right: 0
		+below(480px)
			width: 100%
			padding-left: 50px
			padding-right: 50px
			padding-top: 30px
			padding-bottom: 30px
			&:nth-child(1) img
				max-width: 150px
				height: auto
		/* adaptive */
		&:last-child
			margin-right: 0
		+pseudo
		img
			z-index: 1
			/* adaptive */
			+below(960px)
				width: 100%
			+below(720px)
				width: auto
			+below(480px)
				height: 50px

			/* adaptive */
		&:after
			width: 100%
			height: 100%
			background: $accent
			transition: opacity ease-in-out 0.4s
			opacity: 0
		&:hover
			&:after
				opacity: 1
.about
	position: relative
	overflow: hidden
	background-color: #fff
	padding-top: 130px
	padding-bottom: 350px
	/* adaptive */
	+below(720px)
		padding-top: 0px
		padding-bottom: 40px
	/* adaptive */
		
	.container
		z-index: 2
	&__container
		+flexbox(center, flex-start)
		padding-left: 165px
		padding-right: 165px
		/* adaptive */
		+below(1800px)
			padding-left: 0
			padding-right: 0
			justify-content: space-between
		+below(1400px)
			justify-content: center
			
		+below(720px)
			flex-direction: column
			
			
		/* adaptive */
	&__description
		+flexbox(center, flex-start, row)
		/* adaptive */
		+below(1900px)
			width: 100%
			padding-left: 60px
		+below(1500px)
			flex-direction: column
			align-items: flex-start
			padding-left: 150px
		+below(1400px)
			padding-left: 100px
		+below(1000px)
			padding-left: 40px
		+below(480px)
			padding-left: 10px
			
			
		/* adaptive */
	&__header
		text-align: center
		// animation
		opacity: 0
		transform: translateY(-100px)
		transition: opacity ease-in-out 1s 0s, transform ease-in-out 1s 0s
		z-index: 3
		&.vi
			opacity: 1
			transform: translateY(0)
		// animation
		/* adaptive */
		+below(1500px)
			margin-bottom: 60px
		/* adaptive */
	&__backword
		text-shadow: 0px 37px 65px rgba(0, 0, 0, 0.0599323)
		z-index: -1
		width: 2100px
		bottom: -250px
		right: -1100px
		transform: translateX(-400px)
		opacity: 1
		/* adaptive */
		+below(1500px)
			right: -1400px
		/* adaptive */
	&__info
		margin-left: 40px
		margin-right: 90px
		margin-top: 120px
		z-index: 4
		// animation
		opacity: 0
		transform: translateY(-100px)
		transition: opacity ease-in-out 1s 0.8s, transform ease-in-out 1s 0.8s
		&.vi
			opacity: 1
			transform: translateY(0)
		// animation
		/* adaptive */
		+below(1500px)
			margin-right: 20px
			margin-left: 0
			order: 1
			margin-top: 40px
		+below(720px)
			transition-delay: 0s
		/* adaptive */
	&__name
		font-size: 30px
		line-height: 33px
		color: $accent
		width: 225px
		+fb
		font-weight: 500
		/* adaptive */
		+below(720px)
			font-size: 22px
		/* adaptive */
	&__position
		font-size: 14px
		line-height: 33px
		color: #323941
		margin-top: 5px
	&__hero
		margin-top: -15px
		flex-shrink: 0
		position: relative
		img
			// animation
			z-index: 3
			position: relative
			transform: translateY(-100px)
			opacity: 0
			transition: opacity ease-in-out 1s 0.6s, transform ease-in-out 1s 0.6s
			&.vi
				transform: translateY(0)
				opacity: 1
			// animation

			/* adaptive */
			+below(1400px)
				width: 350px
			+below(430px)
				width: 100%
			/* adaptive */
	&__text
		font-size: 14px
		line-height: 28px
		color: #323941
		width: 337px
		margin-top: 40px
		z-index: 3
		// animation
		transform: translateY(-100px)
		opacity: 0
		transition: opacity ease-in-out 1s 1.0s, transform ease-in-out 1s 1.0s
		&.vi
			opacity: 1
			transform: translateY(0)
		// animation
		/* adaptive */
		+below(1900px)
			transition-delay: 0
		+below(1400px)
			width: auto
		+below(720px)
			transition-delay: 0
			margin-top: 0
		+below(480px)
			padding-right: 20px
		/* adaptive */
		svg
			font-size: 74px
			opacity: .1
			margin-bottom: 18px
	&__circle
		position: absolute
		bottom: 0
		left: 0
		width: 449px
		height: 449px
		box-shadow: 0px 97px 131px rgba(43, 51, 78, 0.0870302)
		border-radius: 100%
		background-color: #fff
		/* adaptive */
		+below(1400px)
			width: 350px
			height: 350px
		+below(720px)
			transition: transform ease-in-out 1s, opacity ease-in-out 1s
			opacity: 0
		/* adaptive */
		&_c1
			transform: scale(0.5) translate(-15px, 10px) // 1.25
			transform-origin: left center 
			z-index: 2
			/* adaptive */
			+below(720px)
				transition-delay: 0.4s
				&.vi
					transform: scale(1.25)
					opacity: 1
			/* adaptive */
		&_c2
			transform: scale(0.5) translate(-10px, 10px) // 1.65
			z-index: 1
			/* adaptive */
			+below(720px)
				transition-delay: 0.5s
				&.vi
					transform: scale(1.65)
					opacity: 1
			/* adaptive */

.without
	position: relative
	&__header
		color: #fff
		margin-top: 124px
		text-align: center
		margin-bottom: 66px
		/* animation */
		opacity: 0
		transition: opacity ease-in-out 1s 0s, transform ease-in-out 1s 0s
		&.vi
			opacity: 1
		/* animation */
		/* adaptive */
		+below(1200px)
			padding-left: 100px
			padding-right: 100px
		+below(720px)
			margin-top: 60px
			margin-bottom: 30px
		+below(480px)
			padding-left: 10px
			padding-right: 10px
		/* adaptive */
	&__background
		position: absolute
		width: 100vw
		height: 100vh
		background-image: url("../img/without.jpg")
		background-size: cover
		background-repeat: no-repeat
		z-index: -1
		/* animation */
		opacity: 0
		transition: opacity ease-in-out 2s 0s
		&.vi
			opacity: 1
		/* animation */
	&__container
		+flexbox(center, space-between)
		max-width: 1767px
		/* adaptive */
		+below(1800px)
			padding-left: 40px
			padding-right: 40px
		+below(650px)
			flex-wrap: wrap
		/* adaptive */
	&__item
		width: calc((100% / 3) - 11px)
		position: relative
		/* animation */
		opacity: 0
		transform: translateY(100px)
		transition: opacity ease-in-out 1s 0s, transform ease-in-out 1s 0s
		&.vi
			opacity: 1
			transform: translateY(0px)
		+durationi(200ms, 3, 400ms)
		/* animation */
		/* adaptive */
		+below(650px)
			width: 100%
			margin-bottom: 10px
		/* adaptive */
	&__image
		box-shadow: 0px 66px 411px rgba(0, 0, 0, 0.342767)
		height: 579px
		/* adaptive */
		+below(1600px)
			height: 450px
		+below(1200px)
			height: 350px
		+below(720px)
			height: 250px
		+below(480px)
			height: 170px
		/* adaptive */
		img
			width: 100%
			height: 100%
			object-fit: cover
			opacity: .6
		+pseudo
		&:after
			top: auto
			bottom: 0px
			background-color: $accent
			width: 100%
			height: 10px
	&__name
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 250px
		font-size: 38px
		+feb
		text-align: center
		color: #fff
		text-transform: uppercase
		/* adaptive */
		+below(1300px)
			font-size: 28px
			padding-right: 30px
			padding-left: 30px
		+below(480px)
			font-size: 20px
		/* adaptive */
			

.team
	position: relative
	margin-top: 105px
	overflow: hidden
	/* adaptive */
	+below(720px)
		margin-top: 20px
	/* adaptive */
		
	.container
		position: relative
		/* adaptive */
		+below(1300px)
			padding-left: 100px
			padding-right: 100px
		+below(640px)
			padding-left: 40px
			padding-right: 40px
		/* adaptive */
	&__background
		position: absolute
		width: 100%
		height: 100%
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.471837) 1.29%, rgba(0, 0, 0, 0.0001) 100%)
		/* animation */
		opacity: 0
		transition: opacity ease-in-out 1s 0.3s
		&.vi
			opacity: 1
		/* animation */
	&__arrow
		width: 93px
		height: 93px
		background-color: $accent
		+flexbox(center, center)
		border-radius: 100%
		cursor: pointer
		position: absolute
		top: 50%
		z-index: 6
		/* adaptive */
		+below(1200px)
			top: calc(100% - 50px)
			opacity: 1
			transition
		+below(720px)
			width: 70px
			height: 70px
		/* adaptive */
		/* animation */
		opacity: 0
		transform: translateY(100px)
		transition: opacity ease-in-out 1s 0s, transform ease-in-out 1s 0s
		&.vi
			opacity: 1
			transform: translateY(-50%)
		/* animation */
			
		&_left
			left: 75px
			transform: translate(-0px, -50%)
			/* adaptive */
			+below(1200px)
				transform: translate(0, -100%)
			+below(640px)
				left: 40px
			/* adaptive */

		&_right
			right: 75px
			transform: translate(0px, -50%) rotate(180deg)
			/* adaptive */
			+below(1230px)
				transform: translate(0, -100%) rotate(180deg)
			+below(640px)
				right: 40px
				
			/* adaptive */
			&.vi
				transform: translateY(-50%) rotate(180deg)

		svg 
			font-size: 20px
	.swiper-wrapper
		/* adaptive */
		+below(960px)
			align-items: flex-end
			justify-content: flex-start
		/* adaptive */
			
	&__slide
		+flexbox(center, center)
		color: #FFF
		/* adaptive */
		+below(960px)
			flex-direction: column
			justify-content: flex-start
			align-items: flex-start
			padding-top: 40px
		+below(720px)
			align-items: flex-end
			padding-top: 0

		/* adaptive */
			
	&__description
		width: 278px
		font-size: 16px
		line-height: 28px
		margin-left: 70px
		position: relative
		z-index: 2
		/* animation */
		opacity: 0
		transform: translateY(100px)
		transition: opacity ease-in-out 1s 1s, transform ease-in-out 1s 1s
		&.vi
			opacity: 1
			transform: translateY(0px)
		/* animation */

		/* adaptive */
		+below(1500px)
			margin-left: 25px
		+below(960px)
			order: 2
			align-self: flex-end
			text-align: right
		+below(720px)
			align-self: flex-start
			text-align: left
			margin-left: 0
			margin-top: 20px

			
			
			
		/* adaptive */
	&__info
		margin-right: 50px
		position: relative
		z-index: 2
		/* animation */
		opacity: 0
		transform: translateY(100px)
		transition: opacity ease-in-out 1s 0.8s, transform ease-in-out 1s 0.8s
		&.vi
			opacity: 1
			transform: translateY(0px)
		/* animation */
		/* adaptive */
		+below(1500px)
			margin-right: 0px
		+below(960px)
			order: 1
			align-self: flex-end
			text-align: right
			margin-right: 0
		+below(720px)
			align-self: flex-start
			text-align: left
		/* adaptive */
			
		h3
			+fb
			font-size: 40px
			line-height: 37px
			width: 320px
			/* adaptive */
			+below(1500px)
				font-size: 34px
				width: auto
				width: 270px
			+below(1200px)
				font-size: 28px
				line-height: 28px
				
			/* adaptive */
		p
			margin-top: 15px
			font-size: 14px
			line-height: 33px
	&__image
		margin-top: 100px
		+below(960px)
			order: 3
			width: 300px
			margin-top: -200px
		+below(630px)
			width: 70%
			margin-top: -300px
			margin-right: -50px
		+below(480px)
			margin-top: -200px
		+below(400px)
			margin-top: 0
			margin-right: 0
			align-self: center
			width: 100%
		img
			width: 100%
			height: 100%
			z-index: 2
			position: relative
			/* animation */
			opacity: 0
			transform: translateY(100px)
			transition: opacity ease-in-out 1s 0.5s, transform ease-in-out 1s 0.5s
			&.vi
				opacity: 1
				transform: translateY(0)
			/* animation */
			/* adaptive */
			+below(960px)
				width: 130%
			+below(400px)
				width: 100%
				
			/* adaptive */
				
		+pseudo
		&:before
			background-color: #000
			width: 995px
			height: 995px
			left: 50%
			top: 85%
			transform: translate(-50%, -50%)
			border-radius: 100%
			z-index: 1
			opacity: .33
		&:after
			background-color: #000
			width: 738px
			height: 738px
			left: 50%
			top: 85%
			transform: translate(-50%, -50%)
			border-radius: 100%
			z-index: 0
			opacity: .65
		/* animation */
		&:before, &:after
			transform: translate(-50%, -50%) scale(0)
			transition: transform ease-in-out 1s 0s
		&.vi
			&:before, &:after
				transform: translate(-50%, -50%) scale(1)
			&:after
				transition-delay: 300ms
		/* animation */
.contacts
	background-color: #fff
	overflow: hidden
	padding-top: 140px
	padding-bottom: 240px
	&__header
		text-align: center
		/* animation */
		opacity: 0
		transform: translateY(100px)
		transition: opacity ease-in-out 1s 0s, transform ease-in-out 1s 0s
		&.vi
			opacity: 1
			transform: translate(0px)
		/* animation */
			
	&__backword
		opacity: 1
		text-transform: uppercase
		text-shadow: 0px 37px 65px rgba(0, 0, 0, 0.0311134)
		line-height: 245px
		top: 0px
		/* animation */
		opacity: 0
		transition: opacity ease-in-out 1s 0s, transform ease-in-out 1s 0s
		&.vi
			opacity: 1
			transform: translateY(-50px)
		/* animation */
	&__map
		z-index: 5
		position: absolute
		top: 50%
		right: -305px
		/* animation */
		opacity: 0
		transform: translateY(100px)
		transition: opacity ease-in-out 1s 0s, transform ease-in-out 1s 0s
		&.vi
			opacity: 1
			transform: translateY(-50%)
		/* animation */
	&__info
		width: 610px
		height: 383px
		z-index: 6
		position: relative
		+flexbox(flex-start, center, column)
		box-shadow: 48px 59px 107px rgba(0, 0, 0, 0.0935861)
		background-color: #fff
		padding-left: 97px
		/* animation */
		opacity: 0
		transform: translateY(100px)
		transition: opacity ease-in-out 1s 0s, transform ease-in-out 1s 0s
		&.vi
			opacity: 1
			transform: translate(0px)
		/* animation */
	&__wrapper
		margin-left: 250px
		margin-top: 150px
		position: relative
	&__addr, &__addr:visited
		font-size: 30px
		line-height: 33px
		color: $accent
		+fb
		margin-bottom: 30px
	&__phone
		font-size: 25px
		line-height: 33px
		color: $black
		margin-bottom: 10px
	&__email
		font-size: 18px
		line-height: 33px
		color: #323941

