---
title: Металл
headerHide: false
footerHide: false
secNames: ['a', "Наши проекты", 'a','a','a','a']
---
extends layouts/_layout
block content
	+b.SECTION.main#main
		+e.H1.header 
			+e.SPAN.header_accent Металлические изделия  
			| для массовых застройщиков  по центральной России
		+e.__button.button Оставить заявку
		+b.navigation
			each val, index in secNames
				+e.elem
					+e.SPAN.num= "0" + (index+1) 
					+e.SPAN.name= val
	.class