+b.HEADER.header
	+e.logo
		+e.top-icon
			+i("logo")
		+e.text-logo 
			+i("logo")
			h2 НЗМИ
	+e.left
		+e.A(href="tel:+7 905 189-85-58").phone
			| +7 905 189-85-58
		+e.__lead.button
			span Обратный звонок

